/* body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) ),url("../public/img/wp5162474.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
} */
* {
  margin: 0;
}
.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../public/img/wp5162474.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.input_section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 25px;
}
.list {
  display: flex;
  justify-content: center;
}
h1 {
  margin-top: 30px;
  /* background-image: url('/public/img/9693988_4238568.jpg');
  background-clip: text;
  -webkit-text-stroke: 1px  aqua; */
  color: black;
  -webkit-text-stroke: 0.6px aqua;
}
.inpp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  /* gap: 2rem; */
}
.input {
  width: 470px;
  height: 30px;
  box-shadow: 3px 4px;
  padding: 15px 10px;
  margin-bottom: 1rem;
  /* margin-right: 2rem; */
  border-radius: 10px;
  margin-top: 15px;
}
.input:focus {
  outline: 2px solid aqua;
  /* border-color: darkviolet; Change border color when focused */
}
#but {
  width: 8%;
  height: 51px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  box-shadow: 7px 4px;
  border-radius: 5px;
}
.todoList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 470px;
  border: 1px solid aqua;
  padding: 10px 10px;
  margin-top: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 7px 7px 1px 0px;
  background-color: transparent;
  /* color: antiquewhite; */
}
.todoList li {
  color: aqua;
}
.todoList:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
ul {
  list-style-type: none;
}
.delete {
  cursor: pointer;
  font-size: 22px;
  color: aqua;
  transition: 1s;
}
.delete:hover {
  transform: scale(1.3);
  transition: 1s;
}
@media screen and (max-width: 450px) {
  * {
    margin: 0;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .list {
    width: 100%;
  }
  .sub_list {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin-top: 30px;
    font-size: 45px;
    color: black;
    -webkit-text-stroke: 0.6px aqua;
  }

  .input_section {
    width: 100%;
  }
  .input {
    width: 100%;
  }
  .inpp {
    width: 70%;
  }
  .todoList {
    width: 80%;
    font-size: 13px;
    font-family: cursive;
    letter-spacing: 0px;
    word-spacing: -3px;
    border-radius: 10px;
  }
  .todoList li {
    color: white;
  }
}
